body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 70%;
    margin: 0 auto;
}

header {
    position: relative;
    padding-top: 20px;
    margin-bottom: 80px;
}

header h1 {
    font-size: 56px;
}

.main_foto {
    position: absolute;
    right: 20px;
    top: 20px;
}

.main_foto img {
    width: 150px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 0;
}

section .description {
    margin-left: 20px;
    margin-right: 20px;
}

.contacts {}

.list {
    padding: 0;
    list-style: none;
}

.list li {
    margin: 7px 0;
}

.courses .course_description {
    padding-left: 20px;
}

pre {
    padding: 10px 0;
    background-color: rgb(229, 231, 231);
    font-family: 'Courier New', Courier, monospace;
}